---
// Astro tools
import { Icon } from "astro-icon/components";

// Errors
import { errors } from "src/pages/admin/nueva-categoria.astro";
---

<form
	id="new-category-form"
	method="POST"
>
	<div class="flex flex-col md:flex-row items-start gap-4">
		<div class="space-y-2 w-full max-w-xs">
			<input
				name="name"
				type="text"
				placeholder="Categoría"
				class="input input-bordered w-full"
			/>
			{
				errors.name && (
					<p class="flex items-center gap-2 text-error text-sm">
						{errors.name}
					</p>
				)
			}
		</div>
		<div class="space-y-2 w-full max-w-xs">
			<textarea
				name="description"
				class="textarea textarea-bordered w-full"
				placeholder="Descripción"
				rows="1"
			></textarea>
			{
				errors.description && (
					<p class="flex items-center gap-2 text-error text-sm">
						{errors.description}
					</p>
				)
			}
		</div>
		<div class="space-y-2 w-full max-w-xs">
			<input
				name="imagePath"
				type="text"
				placeholder="p.ej., imagen.jpg"
				class="input input-bordered w-full"
			/>
			{
				errors.imagePath && (
					<p class="flex items-center gap-2 text-error text-sm">
						{errors.imagePath}
					</p>
				)
			}
		</div>
	</div>
	<button
		type="submit"
		class="btn btn-accent mt-4 px-6"
		>Crear</button
	>
</form>
