---
import { errors } from 'src/pages/admin/nueva-categoria.astro'
---

<form
	id="new-category-form"
	method="POST"
>
	<div class="flex flex-col items-start gap-4 md:flex-row">
		<div class="w-full max-w-xs space-y-2">
			<input
				name="name"
				type="text"
				placeholder="Categoría"
				class="input input-bordered w-full"
			/>
			{errors.name && <p class="flex items-center gap-2 text-sm text-error">{errors.name}</p>}
		</div>
		<div class="w-full max-w-xs space-y-2">
			<textarea
				name="description"
				class="textarea textarea-bordered w-full"
				placeholder="Descripción"
				rows="1"
			></textarea>
			{
				errors.description && (
					<p class="flex items-center gap-2 text-sm text-error">{errors.description}</p>
				)
			}
		</div>
		<div class="w-full max-w-xs space-y-2">
			<input
				name="imagePath"
				type="file"
				class="file-input file-input-bordered w-full"
			/>
			{
				errors.imagePath && (
					<p class="flex items-center gap-2 text-sm text-error">{errors.imagePath}</p>
				)
			}
		</div>
	</div>
	<button
		type="submit"
		class="btn btn-accent mt-4 px-6"
		>Crear</button
	>
</form>
