---
// Astro db
import type { Category } from "astro:db";

// Astro tools
import { GET } from "./api/categorias/index.json";

// Layouts
import BaseLayout from "@layouts/BaseLayout.astro";

// Components
import CategoryCard from "@components/category/CategoryCard.astro";
import Section from "@ui/Section.astro";

// Data
const response = await GET(Astro);
const categories = (await response.json()) as (typeof Category.$inferSelect)[];

// Head metadata
const title = "Categrías";
const description = "Categorías del sitio";
---

<BaseLayout
	{title}
	{description}
>
	<Section>
		<div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:gap-8 lg:grid-cols-3">
			{categories.map((category) => <CategoryCard {category} />)}
		</div>
	</Section>
</BaseLayout>
