---
// Astro tools
import { GET } from "./api/categorias/index.json";

// Layouts
import BaseLayout from "@layouts/BaseLayout.astro";

// Components
import CategoryCard from "@components/category/CategoryCard.astro";
import Section from "@ui/Section.astro";
import type { CategoryType } from "src/env";

// Data
const response = await GET(Astro);
const categories: CategoryType[] = await response.json();

// Head metadata
const title = "Categrías";
const description = "Categorías del sitio";
---

<BaseLayout
	{title}
	{description}
>
	<Section>
		<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-8">
			{categories.map((cat) => <CategoryCard category={cat} />)}
		</div>
	</Section>
</BaseLayout>
