---
// Astro db
import { Size, Brand, db, Product, Category, eq } from "astro:db";

// Layouts
import BaseLayout from "../layouts/BaseLayout.astro";

// Components
import Section from "../components/ui/Section.astro";
import BillboardHeader from "../components/billboard/BillboardHeader.astro";
import BillboardBody from "../components/billboard/BillboardBody.astro";

// Product data
const products = await db
	.select()
	.from(Product)
	.leftJoin(Brand, eq(Product.brandId, Brand.id))
	.leftJoin(Size, eq(Product.sizeId, Size.id));

// Head metadata
const title = "Astro Db Test";
const description = "Proyecto para probar la nueva base de datos de Astro.";
---

<BaseLayout
	{title}
	{description}
>
	<Section>
		<BillboardBody productData={products} />
	</Section>
</BaseLayout>
