---
// Layouts
import BaseLayout from "../layouts/BaseLayout.astro";

// Components
import Section from "../components/ui/Section.astro";
import BillboardBody from "../components/billboard/BillboardBody.astro";

// Product data
const response = await fetch(`${Astro.url}/api/productos`);
const products = await response.json();
console.log(products);

// Head metadata
const title = "Astro Db Test";
const description = "Proyecto para probar la nueva base de datos de Astro.";
---

<BaseLayout
	{title}
	{description}
>
	<Section>
		<BillboardBody {products} />
	</Section>
</BaseLayout>
