---
// Components
import ModalCard from "@components/product/ModalCard.astro";

// Types
import type { BrandType, ProductType, SizeType } from "src/env";

interface Props {
	products: {
		Product: ProductType;
		Brand: BrandType | null;
		Size: SizeType | null;
	}[];
}

const { products } = Astro.props;
---

<div class="grid grid-cols-2 gap-2 sm:gap-4 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
	{products.map((product) => <ModalCard {product} />)}
</div>
