---
// Render mode
export const prerender = false;

// Astro db
import { db, Category } from "astro:db";

// Layouts
import BaseLayout from "@layouts/BaseLayout.astro";

// Components
import Heading from "@components/ui/Heading.astro";
import Section from "@ui/Section.astro";
import NewCategoryForm from "@components/category/NewCategoryForm.astro";
import { uniqueId } from "@libs/utils";

// Form submission
if (Astro.request.method === "POST") {
	const formData = await Astro.request.formData();
	const name = formData.get("name");
	const description = formData.get("description");
	const imagePath = formData.get("imagePath");

	if (
		typeof name === "string" &&
		typeof description === "string" &&
		typeof imagePath === "string"
	) {
		await db.insert(Category).values({ name, description, imagePath });
	}

	Astro.redirect("/admin/categorias");
}

// Head metadata
const title = "Nueva categoría";
const description = "Crear nueva categoría";
---

<BaseLayout
	{title}
	{description}
>
	<Section>
		<Heading
			tagName="h1"
			size="h1"
			title="Crear categoría"
		>
			Añade una nueva categoría
		</Heading>
		<NewCategoryForm />
	</Section>
</BaseLayout>
