---
// Render mode
export const prerender = false;

// Layouts
import BaseLayout from "@layouts/BaseLayout.astro";

// Components
import Heading from "@components/ui/Heading.astro";
import Section from "@ui/Section.astro";
import CategoryForm from "@components/category/CategoryForm";

// Head metadata
const title = "Nueva categoría";
const description = "Crear nueva categoría";
---

<BaseLayout
	{title}
	{description}
>
	<Section>
		<Heading
			tagName="h1"
			size="h1"
			title="Crear categoría"
		>
			Añade una nueva categoría
		</Heading>
		<CategoryForm client:load />
	</Section>
</BaseLayout>
