---
// External tools
import { twMerge } from "tailwind-merge";

// Types
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<keyof typeof headingOptions> {
	tagName: keyof typeof headingOptions;
	size: keyof typeof headingOptions;
	align?: keyof typeof textAlign;
	title: string;
	hclass?: string;
	pclass?: string;
}

const headingOptions = {
	h1: "text-5xl sm:text-6xl",
	h2: "text-4xl sm:text-5xl",
	h3: "text-3xl sm:text-4xl",
	h4: "text-2xl sm:text-3xl",
	h5: "text-xl sm:text-2xl",
	h6: "text-lg sm:text-xl",
};

const textAlign = {
	left: "text-left",
	center: "text-center",
	right: "text-right",
};

const { tagName, size, align = "left", title, hclass, pclass } = Astro.props;
const Tag = tagName;
---

<div class:list={twMerge(["space-y-2", textAlign[align]])}>
	<Tag
		class:list={[twMerge("font-bold leading-4", headingOptions[size], hclass)]}
	>
		{title}
	</Tag>
	<p
		class:list={[twMerge("sm:text-lg text-neutral-content font-light", pclass)]}
	>
		<slot />
	</p>
</div>
